{{#link-to "homepage"}}
  Back to Home
{{/link-to}}

<form class="form-modify-array" {{action "generateFunctionList" on="submit"}}>
  <div>
    <label for="baseValue" class="control-label">Base Value:</label>
    {{input id="baseValue" type="number" min="0" max="100" value=model.baseValue required=true}}
  </div>
  <div>
    <label for="numberOfElements" class="control-label">Number of elements:</label>
    {{input id="numberOfElements" type="number" min="1" max="20" value=model.numberOfElements required=true}}
  </div>
  <div>
    <button type="submit">Confirm</button>
  </div>
</form>

{{#if outputFunctionList.length}}
  <h3>Function List</h3>

  <ul>
    {{#each outputFunctionList as |func key|}}
      <li>
        <button type="button" {{action func}}>Function{{key}}</button>
      </li>
    {{/each}}
  </ul>
{{/if}}

{{#if outputResultValue}}
  <h3>Result Value</h3>
  <p>{{outputResultValue}}</p>
{{/if}}